site_name: ysaqml
site_description: "YAML-backed SQLite fixtures for SQLAlchemy"
repo_url: https://github.com/rbroderi/ysaqml
site_dir: site
theme:
  name: material
plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          paths:
            - src
markdown_extensions:
  - admonition
nav:
  - Home: index.md
  - Installation: installation.md
  - Usage: usage.md
  - API: api.md
